div.banner {
    overflow: hidden;
}

div.banner div.mask {
    width: 100%;
    /* height: 500px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.banner div.mask::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(211, 211, 211, 0.35);
    width: 100%;
    height: 100%;
    z-index: 1;
}

div.bannerimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.bannerimg {
    width: 100%;
    height: 500px;
    transform: translate3d(0px, 0px, 0px);
    overflow: hidden;
}

div.bannerimg.zoomin {
    transform: scale(1.4, 1.4);
    transition: 8s;
}

div.banner p {
    font-size: 30px;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

div.banner p.english {
    font-size: 16px;
    color: white;
    margin: 0;
    top: calc(50% + 24px);
}

div.body {
    display: flex;
    font-size: 16px;
    margin-top: 50px;
    position: relative;
    justify-content: center;
}

div.bodys {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    div.body {
        width: 960px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    div.body {
        width: 720px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    div.body {
        width: 540px;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:575px) {
    div.body {
        width: 100%;
        flex-direction: column-reverse;
    }
}

div.body div.img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div.body div.img {
    position: relative;
}

div.img1 {
    width: 500px;
    /* height: 500px; */
}

div.img2 {
    position: absolute;
    width: 350px;
    right: 0;
    bottom: 0;
    transform: translateY(80%);
}

div.first {
    margin-left: 100px;
    width: 500px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    div.img1 {
        width: 430px;
    }
    div.img2 {
        width: 280px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    div.img1 {
        width: 310px;
    }
    div.img2 {
        width: 280px;
        transform: translateY(50%);
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    div.img1 {
        width: 100%;
        margin-top: 20px;
    }
    div.img2 {
        width: 100%;
        transform: translateY(104%);
    }
    div.first {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width:575px) {
    div.img1 {
        width: 100%;
        margin-top: 20px;
    }
    div.img2 {
        width: 100%;
        transform: translateY(104%);
    }
    div.first {
        width: 100%;
        margin-left: 0;
    }
}

div.footer {
    margin-top: 400px;
}