div.banner {
    overflow: hidden;
}

div.banner div.mask {
    width: 100%;
    /* height: 500px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.banner div.mask::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(211, 211, 211, 0.35);
    width: 100%;
    height: 100%;
    z-index: 1;
}

div.bannerimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.bannerimg {
    width: 100%;
    height: 500px;
    transform: translate3d(0px, 0px, 0px);
    overflow: hidden;
}

div.bannerimg.zoomin {
    transform: scale(1.4, 1.4);
    transition: 8s;
}

div.banner p {
    font-size: 30px;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

div.banner p.english {
    font-size: 16px;
    color: white;
    margin: 0;
    top: calc(50% + 24px);
}

div.body {
    display: flex;
    font-size: 16px;
    margin-top: 50px;
    position: relative;
    justify-content: center;
}

div.body div.img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div.body div.img {
    position: relative;
}

div.img1 {
    width: 700px;
    /* height: 500px; */
}

div.img2 {
    position: absolute;
    width: 350px;
    right: 0;
    bottom: -200px;
}

div.first {
    margin-left: 100px;
    width: 500px;
}

div.footer {
    margin-top: 400px;
}