div.banner {
    overflow: hidden;
}

div.banner div.mask {
    width: 100%;
    /* height: 500px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.banner div.mask::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(211, 211, 211, 0.35);
    width: 100%;
    height: 100%;
    z-index: 1;
}

div.bannerimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.bannerimg {
    width: 100%;
    height: 500px;
    transform: translate3d(0px, 0px, 0px);
    overflow: hidden;
}

div.bannerimg.zoomin {
    transform: scale(1.4, 1.4);
    transition: 8s;
}

div.banner p {
    font-size: 30px;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

div.banner p.english {
    font-size: 16px;
    color: white;
    margin: 0;
    top: calc(50% + 24px);
}

div.body div.border {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 16px;
}

div.body div.border:first-child {
    margin-top: 100px;
}

div.body div.text {
    margin-left: 100px;
    margin-top: 200px;
    max-width: 602px;
}

h1 {
    font-size: 20px;
}

div.bodys {
    display: flex;
    justify-content: center;
}

div.body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.body div.text1 {
    width: 600px;
    margin-right: 100px;
    margin-top: 150px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    div.body {
        width: 960px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    div.body {
        width: 720px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    div.body {
        width: 540px;
        flex-direction: column;
    }
}

@media screen and (max-width:575px) {
    div.body {
        width: 100%;
        flex-direction: column;
    }
}

div.sec {
    margin-top: 50px;
}

div.leftimg {
    width: 600px;
    overflow: hidden;
}

div.rightimg {
    max-width: 600px;
    overflow: hidden;
}

div.body img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .5s;
}

div.body img:hover {
    transform: scale(1.2, 1.2);
}

div.body div.border div.text123 {
    margin-top: 70px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    div.leftimg {
        min-width: 450px;
    }
    div.rightimg {
        max-width: 450px;
    }
    div.body div.text1 {
        width: 600px;
        margin-right: 100px;
        margin-top: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    div.leftimg {
        min-width: 320px;
    }
    div.rightimg {
        max-width: 320px;
    }
    div.body div.text1 {
        width: 600px;
        margin-right: 100px;
        margin-top: 50px;
    }
    div.body div.text {
        margin-top: 80px;
    }
    div.body div.border div.text123 {
        margin-top: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    div.leftimg {
        width: 540px;
        margin-top: 10px;
    }
    div.rightimg {
        max-width: 540px;
        margin-top: 10px;
    }
    div.body div.text1 {
        width: 540px;
        margin-right: 100px;
        margin-top: 0;
    }
    div.body div.text {
        margin-top: 0;
        margin-left: 0;
        width: 540px;
    }
    div.body div.border div.text123 {
        margin-top: 20px;
        width: 540px;
    }
    div.body div.border {
        flex-direction: column;
        margin-top: 20px;
    }
    div.body div.border:first-child {
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    div.body div.border:nth-child(3) {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:575px) {
    div.leftimg {
        width: auto;
        margin: 10px;
    }
    div.rightimg {
        width: auto;
        max-width: unset;
        margin: 10px;
    }
    div.body div.text1 {
        width: auto;
        margin-right: auto;
        margin-top: auto;
        margin: 10px;
    }
    div.body div.text {
        margin-top: 0;
        margin-left: 0;
        width: auto;
        margin: 10px;
    }
    div.body div.border div.text123 {
        margin: 10px;
    }
    div.body div.border {
        flex-direction: column;
        margin: 10px;
    }
    div.body div.border:first-child {
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    div.body div.border:nth-child(3) {
        flex-direction: column-reverse;
    }
}