div.banner {
    overflow: hidden;
}

div.banner div.mask {
    width: 100%;
    /* height: 500px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.banner div.mask::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(211, 211, 211, 0.35);
    width: 100%;
    height: 100%;
    z-index: 1;
}

div.bannerimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.bannerimg {
    width: 100%;
    height: 500px;
    transform: translate3d(0px, 0px, 0px);
    overflow: hidden;
}

div.bannerimg.zoomin {
    transform: scale(1.4, 1.4);
    transition: 8s;
}

div.banner p {
    font-size: 30px;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

div.banner p.english {
    font-size: 16px;
    color: white;
    margin: 0;
    top: calc(50% + 24px);
}

div.body {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    flex-direction: column;
}

div.peoplehide {
    border: 1px solid gray;
    background-color: white;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    display: none;
}

div.peopleborder {
    margin-left: 50px;
}

div.big,
div.chli,
div.addborders {
    display: flex;
}

div.addborders {
    display: flex;
    align-items: center;
    text-align: center;
    width: 150px;
    font-size: 20px;
    align-items: center;
    margin-left: 50px;
}

div.top {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 70px;
    font-size: 18px;
    align-items: center;
    padding-bottom: 10px;
    position: sticky;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1;
}

div.topborder,
div.peopleborder {
    transform: translateX(-126%);
}

div.date,
div.people {
    position: relative;
    border: 1px solid gray;
    width: 250px;
    text-align: left;
    border-radius: 6px;
    background-color: rgba(128, 128, 128, 0.192);
    cursor: pointer;
}

div.hiddentops {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

div.rooms {
    margin-top: 50px;
    /* transform: translateX(-30%); */
    position: relative;
}

div.room1 {
    padding-bottom: 100px;
    border-bottom: 1px solid rgb(107, 107, 107);
    position: relative;
    height: 440px;
}

div.people,
div.date {
    padding-left: 10px;
}

div.img {
    width: 450px;
    height: 300px;
}

div.both {
    display: flex;
}

div.rooms p {
    margin-bottom: 30px;
}

div.detal {
    padding-left: 20px;
    border-bottom: 1px solid rgb(153, 153, 153);
    width: 300px;
    color: rgb(46, 46, 46);
}

a.more {
    color: rgba(48, 48, 255, 0.987);
    cursor: pointer;
}

div.rooms ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    align-items: center;
    vertical-align: top;
}

div.icon {
    height: 30px;
}

img.rooms {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img.icon {
    height: 18px;
    width: 18px;
    object-fit: contain;
}

div.pos {
    position: absolute;
    bottom: 4%;
    right: 0;
}

a.money1 {
    font-size: 14px;
}

a.moneyscolor {
    color: blue;
    font-size: 26px;
}

div.addborder {
    display: flex;
    align-items: center;
    text-align: center;
    width: 150px;
    font-size: 20px;
    align-items: center;
    margin-top: 30px;
}

div.num {
    margin: 0;
    padding: 0px 30px;
    background-color: rgba(128, 128, 128, 0.254);
    height: 30px;
}

div.addborder p {
    padding: 0px;
    margin: 0;
    margin-left: 30px;
}

div.add,
div.noadd {
    padding: 0px 10px;
    width: 30px;
    background-color: rgba(114, 113, 113, 0.418);
    cursor: pointer;
    height: 30px;
}

img.messageicon {
    width: 18px;
    padding: 2px;
    margin-right: 4px;
}

div.room {
    display: flex;
    justify-content: center;
}

div.message {
    position: sticky;
    top: calc(80px + 50px + 50px);
    left: 100%;
    background-color: white;
    border: 1px solid rgb(157, 157, 157);
    padding: 20px;
    width: 350px;
    height: 540px;
    margin-top: 50px;
    margin-left: 50px;
}

div.totalrooms {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

input {
    width: 100%;
    height: 50px;
    background-color: #1a2e40ff;
    color: white;
    cursor: pointer;
}

a.smallsize {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

p {
    margin: 16px 0px;
}

div.footer p {
    margin: 0;
}

div.leftandright {
    display: flex;
    flex-direction: column;
}

div.mainnew {
    display: flex;
    justify-content: space-between;
}

a.red {
    color: red;
    font-size: 24px;
}

.-on {
    display: block !important;
}