
div.banner div.mask{
    background: url(../img/banner/TKUO-Vol2-1920-0067.jpg) no-repeat ;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.banner p{
    font-size: 30px;
    color: white;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50% ,-50%);
    margin: 0;
}
div.banner p.english{
    font-size: 30px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    margin: 0;
}



div.banner  p , div.banner p.english{
    position: static;
    transform: translate(0 ,0);
}

div.banner p.english{
    font-size: 16px;
}
div.banner div.mask1{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.576);
    position: absolute;
    left: 0;
    right: 0;
}
div.body{
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
div.map iframe{
    width: 100%;
    height: 500px;
}

div.inside{
    display: flex;
    justify-content: center;
    text-align: center;
}

div.in{
    margin-left:  200px;
}
div.firstin{
    margin-left: 0;
}
div.inputlist{
    margin-top: 2%;
    width: 50%;
    height: 800px;
    background-color: #f5e5be;
    text-align: center;
}
div.inputlist input , div.inputlist textarea{
    border: none;
    border-bottom: 2px solid black;
    background-color: #d3971700;
    width: 40%;
    height: 3%;
    margin-top: 30px;
}
div.inputlist input.full , div.inputlist textarea{
    width: 82%;
}
div.inputlist input.right{
    margin-left: 20px;
}
div.inputlist input:focus-visible{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}
div.inputlist textarea:focus-visible{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}
div.inputlist input.btn{
    border: 1px solid #d39717;
    background-color: #d3971700;
    color: #d39717;
    height: 50px;
    width: 300px;
    margin-top: 80px;
}

div.inputlist input.btn:hover{
    background-color:#d39717 ;
    color: white;
    cursor: pointer;
}



div.inputlist textarea{
    height: 200px;
    resize : none;
}

