@font-face {
    font-family: "logo";
    src: url(../font/DMFT1614930817567.ttf);
}

div.hiddenheader{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
    display: none;
}
div.hiddenheader a.logo{
    margin: 0px 20px;
    padding: 0px 90px;
    font-size: 50px;
    font-family: "logo";
    cursor: pointer;
}

div.hiddenheader a.logo:hover{
    color: white;
}
div.hiddenheader a.first{
    position: relative;
    top: 0;

}
div.hiddenheader ul li a{
        padding: 50px 30px 8px 30px;
}


div.hiddenheader li{
    font-size: 0;
    list-style: none;
}
div.hiddenheader ul li.room ul{
    top: 34px;
}


