div.banner {
    position: relative;
    background: url(../img/banner/TKUO-Vol1-1920-0006.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: calc(100% * 7 / 16);
}

div.banner div.left,
div.right {
    color: gray;
    font-size: 30px;
}

div.body {
    /* width: 100%; */
    display: flex;
    font-size: 16px;
    margin-top: 50px;
    position: relative;
    justify-content: center;
    /* align-items: center; */
}

div.first {
    width: 600px;
    margin-right: 100px;
    /* flex: 1; */
}

h1 {
    margin-top: 50px;
}

div.img {
    max-width: 475px;
    height: 317px;
    /* margin-left: 10%; */
}

div.body img {
    /* width: 600px; */
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div.first h1.h1margin {
    margin-bottom: 5px;
}

div.first h1.h1margin1 {
    margin-top: 0;
}

div.sec {
    margin-top: 100px;
}

div.imgbord {
    position: absolute;
    /* flex: 1; */
    height: 100%;
}

div.imgbord div.img {
    position: absolute;
    height: 600px;
    width: 570px;
}

div.abs {
    height: 600px;
}

div.imgfirst {
    left: 110px;
    top: 0;
}

div.imgsec {
    right: -110px;
    top: 120px;
}

div.foods {
    position: relative;
    transform: translateX(-40%);
    top: 0;
}

div.imgs {
    background-color: white;
}

div.imgs h1 {
    margin-bottom: 50px;
}

.marginleft {
    margin-left: 40px !important;
}

.mariginright {
    margin-right: 40px !important;
}

div.imgs ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 150px;
    margin-bottom: 100px;
}

div.imgs div#imgborders {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 1100px;
}

div.imgs div#imgborders div#move {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 800%; */
    transform: translate3d(-320px, 0px, 0px);
}

div.imgs ul div#imgborders div#move div {
    /* border: 1px solid black;
    height: 500px;
    max-width: 300px;
    margin-left: 20px;
    margin-top: 150px;
    margin-bottom: 100px;
    float: left; */
    float: left;
    height: 100%;
    min-height: 1px;
    width: 260px;
    height: 500px;
    margin-left: 20px;
}

div.imgs ul div#imgborders div#move div:first-child {
    margin-left: 0;
}

div.imgs ul div#imgborders div#move div li {
    width: 100%;
    height: 100%;
}

div.imgs:first-child {
    margin-left: 0;
}

div.imgs:nth-child(3) {
    margin-left: 0;
}

div.imgs h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

div.imgs img {
    width: 100%;
    object-fit: cover;
}

div.rooms div {
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

div.rooms a {
    margin-left: 100px;
    margin-top: 40px;
}

div.rooms h1 {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}

div.rooms a.firsts {
    margin-left: 0;
}

div.rooms img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

div.rooms div.imgsfirsts {
    margin-left: 0;
}

div.rooms div.mask {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5a5a5a7e;
    cursor: pointer;
}

div.rooms p {
    position: absolute;
    left: 4%;
    top: 4%;
    margin: 0;
    font-size: 30px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

div.rooms div:hover img {
    transform: scale(1.2, 1.2);
}

#slider,
ul.slieder-item-container,
ul.slieder-item-container a {
    width: 100%;
    height: 100%;
    padding: 0;
}

#slider {
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    padding-bottom: calc(40%);
}

ul.slieder-item-container {
    position: absolute;
    list-style-type: none;
    width: 800%;
}

ul.slieder-item-container li {
    width: 13%;
    float: left;
}

div.imgs button {
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    border: 0;
    transform: translateY(-100%);
}

div.imgs button.left::before {
    content: "<";
    font-size: 16px;
    background-color: #d39717;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 1.25;
    border-radius: 100%;
    margin-top: 20px;
    /* display: flex;
    width: 30px;
    height: 30px; */
    /* border-radius: 100%; */
}

div.imgs button.right::before {
    content: ">";
    font-size: 16px;
    background-color: #d39717;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 1.25;
    border-radius: 100%;
    margin-top: 20px;
}

div.imgs button.left {
    left: -30px;
}

div.imgs button.right {
    right: -30px;
}

ul.slieder-item-container li a {
    display: inline-block;
    min-width: 100%;
}

ul.slieder-item-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slider:hover .arrow-container {
    display: block;
}

div.arrow-container {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    display: none;
}

div.arrow-container span {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

div.arrow-container .left-arrow {
    left: 0px;
    cursor: pointer;
}

div.arrow-container .right-arrow {
    right: 0px;
    cursor: pointer;
}

div.indicator-container {
    position: absolute;
    width: 200px;
    height: 30px;
    line-height: 30px;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
    text-align: center;
}

div.indicator-container span.indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: white;
    cursor: pointer;
    margin: 6px;
}

#slider .indicator.active {
    background: #d39717;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    div.bodys {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    div.rwd {
        width: 960px;
    }
    div.foods {
        transform: translateX(-48%);
        width: 440px;
    }
    div.img {
        max-width: 444px;
    }
    div.imgbord div.img {
        width: 500px;
    }
    div.imgfirst {
        left: 35px;
    }
    div.imgs {
        width: 100%;
    }
    div.imgsec {
        right: -35px;
    }
    div.imgs div#imgborders div {
        width: 200px;
        height: 400px;
    }
    div.rooms div {
        height: 260px;
        width: 260px;
    }
    div.rooms a {
        margin-left: 70px;
    }
    ul.slieder-item-container li {
        width: 13%;
    }
    div.imgs div#imgborders {
        width: 920px;
    }
    div.imgs ul div#imgborders div#move div {
        width: 293px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    div.bodys {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    div.rwd {
        width: 720px;
    }
    div.foods {
        transform: translateX(-48%);
        width: 310px;
    }
    div.imgs div#imgborders {
        width: 720px;
    }
    div.imgs ul div#imgborders div#move div {
        width: 350px;
    }
    div.img {
        max-width: 320px;
    }
    div.imgfirst {
        left: 40px;
    }
    div.imgs {
        width: 100%;
    }
    div.imgsec {
        right: -40px;
        top: 87px;
    }
    div.imgs div#imgborders div {
        width: 200px;
        height: 400px;
        margin-bottom: 0;
        margin-top: 0px;
    }
    div.rooms div {
        height: 200px;
        width: 200px;
    }
    div.rooms a {
        margin-left: 50px;
    }
    div.sec {
        margin-top: 50px;
    }
    /* div.imgs div#imgborders div.max991none {
        display: none;
    }
    div.max991 {
        margin-right: 30px;
    } */
}

@media screen and (min-width:576px) and (max-width: 767px) {
    div.bodys {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    div#slider {
        padding-bottom: calc(60%);
    }
    div.body {
        flex-wrap: wrap;
    }
    div.rwd {
        max-width: 100%;
    }
    div.imgs div#imgborders {
        width: 540px;
    }
    div.imgs ul div#imgborders div#move div {
        width: 260px;
        height: 200px;
    }
    div.foods {
        transform: translateX(-48%);
        width: 310px;
    }
    div.img {
        max-width: 100%;
        margin-top: 30px;
    }
    div.imgfirst {
        left: 0;
        margin-top: 220px;
    }
    div.first {
        margin-right: 0px;
    }
    h1 {
        margin-top: 80px;
    }
    div.foods {
        transform: translateX(0);
        width: 100%;
    }
    div.imgs {
        width: 100%;
        margin-top: 100px;
    }
    div.imgs div#imgborders div.imgsfirsts {
        margin-left: 0;
        height: 500px;
    }
    div.imgsec {
        position: relative;
        right: 0;
        top: 0;
    }
    div.imgbord div.img {
        position: static;
        width: 540px;
    }
    div.abs {
        height: 1300px;
    }
    div.imgs img {
        height: 100%;
    }
    div.imgsec {
        margin-top: -40px;
        margin-left: -30px;
    }
    div.rooms h1 {
        margin-top: 100px;
    }
    div.imgs h1 {
        margin-top: 30px;
    }
    div.rooms {
        flex-direction: column;
    }
    div.rooms a {
        margin-left: 0;
    }
    div.rooms div {
        height: 400px;
        width: 100%;
        margin-top: 50px;
    }
    div.rooms div.imgsfirsts {
        margin-top: 0px;
    }
    div.sec {
        margin-top: 0;
    }
    div.imgs {
        margin-top: 10px;
    }
    div.rooms {
        margin-top: 5px;
    }
}

@media screen and (max-width:575px) {
    div.bodys {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    div.body {
        flex-wrap: wrap;
    }
    div.rwd {
        max-width: 100%;
    }
    div.imgs div#imgborders {
        width: 440px;
    }
    div#slider {
        padding-bottom: calc(60%);
    }
    div.imgs ul div#imgborders div#move div {
        width: 200px;
        height: 200px;
    }
    div.foods {
        transform: translateX(-48%);
        width: 310px;
    }
    div.img {
        max-width: 100%;
        margin-top: 30px;
    }
    div.imgfirst {
        left: 0;
        margin-top: 220px;
    }
    div.first {
        margin-right: 0px;
        width: 100%;
    }
    h1 {
        margin-top: 0px;
    }
    div.first h1.h1margin {
        margin-bottom: 0;
    }
    div.foods {
        transform: translateX(0);
        width: 100%;
    }
    div.imgs {
        width: 100%;
        margin-top: 100px;
    }
    div.imgsec {
        position: relative;
        right: 0;
        top: 0;
    }
    div.imgbord div.img {
        position: static;
        width: 100%;
        margin-top: 120px;
    }
    div.abs {
        height: 1300px;
    }
    div.imgs img {
        height: 100%;
    }
    div.rooms h1 {
        margin-top: 0px;
    }
    div.imgs h1 {
        margin-top: 30px;
    }
    div.rooms {
        flex-direction: column;
    }
    div.rooms a {
        margin-left: 0;
    }
    div.rooms div {
        height: 400px;
        width: 100%;
        margin-top: 50px;
    }
    div.rooms div.imgsfirsts {
        margin-top: 0px;
    }
    div.sec {
        margin-top: 50px;
        width: 100%;
    }
    div.imgs button.right {
        right: -10px;
    }
    div.imgbord div.imgsec {
        margin-top: -100px;
    }
    div.imgs {
        margin-top: -150px;
    }
}